.button.hover {
	background-color: aquamarine;
	color: black;
	font-size: large;
}
input[type=tel] {
	width: 30%;
	padding: 12px 20px;
	margin: 4px 2px;
	box-sizing: border-box;
	border: none;
	background-color: aquamarine;
	color: black;

}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    height: 50px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 17px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

input[type=teli] {
	width: 14.7%;
	padding: 12px 20px;
	margin: 4px 2px;
	box-sizing: border-box;
	border: none;
	background-color: aquamarine;
	color: black;
	font-size: 14px;
}

.breadcrumb {
	background-color: lightgrey;
}

.navBar {
	padding-left: -20px;
	padding-right: -20px;
}

table tbody td .form-control{
    width:20%;
    display: inline !important;
}
.actions .btn{
    width:36%;
    margin:1.5em 0;
}
.color {
	background: aquamarine;
	padding: 10px 15px;
}

.actions .btn-info{
    float:left;
}
.actions .btn-danger{
    float:right;
}

table thead { display: none; }
table body td { display: block; padding: .6rem; min-width:320px;}
table body tr td:first-child { background: #333; color: #fff; }
table body td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
}



table foot td{display:block; }
table foot td .btn{display:block;}


table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
